[Unit]
Description=Service to monitor changes
Wants=rs_monitor.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/my_scripts/my_monitor.sh

[Install]
WantedBy=multi-user.target
