[Unit]
Description=Timer for my_update.service
Requires=my_update.service

[Timer]
Unit=my_update.timer
OnCalendar=Mon 04:00:00
AccuracySec=12h
Persistent=true

[Install]
WantedBy=timers.target
